html {
  min-height: 100%;
  position: relative;
}

/* header{
  width: 100%;
  min-width: 100%;
} */


body {
  margin: 0;
  margin-bottom: 40pt;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 30pt;
  min-height: 30pt;
}

img {
    image-orientation: from-image;
}

/* menu lateral */
div#logo-menu{
	width:200px;
	height:45px;
	margin-left:2px;
  margin-top: 10px;
  transition: height 0.1s linear 0.1s;
  position: fixed;
}

div#espacioMenu{
  margin-bottom: 50px;
}

div#menu-lateral::-webkit-scrollbar {
  display: none;
}

div#menu-lateral{
	position:fixed;
	width:45px;
	height:100%;
	background: rgba(30, 0, 0, 0.0);
	overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  scrollbar-color: #1e0000 #1e0000 !important;
  scrollbar-width: 1em !important;
  transition-property: width, background;
  transition-duration: 0.8s;
  transition-delay: 0s;
}
span#logoMenu{
  margin-top: 40px;
  display: none;
}

span#logoMenu:hover{
	color: #e3e3e3;
  cursor: pointer;
}

a#logoLinkWeb {
  margin-right: 12px;
  margin-left: 10px;
  margin-top: 100px;
  color: white;
  display: none;
}

div.contenedor-logos{
  padding-bottom: 10px;
  padding-top: 10px;
	margin-top:10px;
	margin-left:10px;
	width:200px;
	height:45px;
  vertical-align: middle;
  transition: height 0.1s linear 0.1s;
}

.imgMenu{
  font-size: 22px;
  margin-top: -2pt;
  margin-left: -3pt;
}

.imgMenu-sub{
  font-size: 15px;
  margin-left: 0;
}

li{
  margin-left: -10px;
  margin-bottom: -10px;
}

div.logo{
	width: 25px;
	height: 25px;
  margin-left: 7px;
	float: left;
  color: white;
  text-align: center;
}

span.logo2{
  margin-left: 7px;
	width: 25px;
	height: 25px;
  color: black;
  text-align: center;
}

p.title-menu{
	margin-left: 33pt;
	/* line-height: 30pt; */
  color: white;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: center;
}

a.title-menu:hover{
  text-decoration:none;
}

p.title-menu2{
	margin-left: 30pt;
	line-height: 30pt;
  color: white;
  font-size: 10pt !important;
  text-align: left !important;
  vertical-align: center;
}

a.title-menu-sub{
	/* line-height: 30pt; */
  margin-left: 10px;
  color: white;
  font-size: 12px !important;
  text-align: left !important;
  vertical-align: center;
  text-decoration-line: none;
}

div.div-sub-menu{
  margin-bottom: 0px;
}
/* menu lateral */

div#body{
	position:absolute;
	right:0px;
	min-height:200pt;
	left:200px;
}

#home{
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenido, #header, #footer{
  text-align: center;
  display: none;
}

#contenido{
  /* margin-left:1px; */
  margin-top: 0pt;
  margin-left: 0pt;
  transition-property: margin-left, margin-right;
  transition-duration: 0.8s;
  transition-delay: 0s;
}

#cargando{
  text-align: center;
}

#iconoLogoMenu{
  border: 1px solid #b5b5b5;
  padding: 7px;
  background-color: white;
}

.splash_charge_logo {
  display: block;
  margin:0 auto 0 auto;
  width: 50pt;
  margin-bottom:10pt;
}

/* Modales */
.modal {
  text-align: center;
  background-color: rgba(0,0,0,.0001) !important;
  border: 0;
}

.modal-body{
  border: 0;
}

.alerta-modal-body {
  text-align: center;
  opacity: 1;
  border: 0;
}

.modal-backdrop {
  background-color: white !important;
  opacity: 0.9 !important;
}

@media screen and (min-width: 200pt) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (min-width: 768pt) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (min-width: 300px) {
  .modal-fullscreen .modal-dialog {
    width: 290px;
  }
  #loginSystem{
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
  #loginSystem{
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
  #loginSystem{
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
  #loginSystem{
    margin-top: 100px;
  }
}

.modal-content-t {
  border: 0;
  background-color: transparent !important;
}

.modal-dialog-box {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
}

.celdaColor{
  background-color: #1e0000;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none;
  color: #c1c1c1!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

td {
  font-size: 10pt;
}

th {
  font-size: 10pt;
}

.datatable td, th, tr {
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}

.toolbar{
  color: black!important;
  text-decoration: none;
}

.dataTables_filter{
  color: black!important;
  text-decoration: none;
}

.dataTables_info{
  color: black!important;
  text-decoration: none;
  font-weight: bold!important;
}

.centerDataTable {
  text-align: center;
}

.splash_load{
  display: block;
  margin:0 auto 0 auto;
  width: 40px;
  margin-bottom: 5px;
}

.select2-results__option{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

svg > g > g:last-child { pointer-events: none }
