<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
	var js = document.createElement('script');
	js.id = 'funciones_js_script';
	js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
	$("#funciones_js_script").remove();
	document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
	$('#tablaPersonal tbody').on( 'click', 'tr', function () {
		setTimeout(function() {
			var table = $('#tablaPersonal').DataTable();
			var datos = table.rows('.selected').data();
			if(datos.length > 0){
				$("#sintomasPersonalTermometro").removeAttr("disabled");
			}
			else {
				$("#sintomasPersonalTermometro").attr("disabled","disabled");
			}
		},100);
	});
</script>
<div>
		<div id="personal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div style="margin-bottom: 5pt; text-align: right;">
      	<font id="tituloPersonal" style="font-weight: bold; font-size: 15pt; margin-right: 30pt;">
					<span style="color: gray;" class="fas fa-users">&nbsp;&nbsp;Mi Personal</span>
				</font>
      </div>
			<div id="divGraficaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; text-align: left; margin-bottom: 50pt;">
				<div class="d-block d-md-none" style="text-align: center;">
        	<font style="font-weight: bold; font-size: 14pt;">Últimos 7 días con ingresos</font>
      	</div>
				<div class="d-none d-md-block" style="text-align: left;">
        	<font style="font-size: 12pt; font-weight: bold;">Últimos 7 días con ingresos</font>
      	</div>
				<div id="graficaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

				</div>
			</div>
			<div id="divTablaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -40pt; text-align: left;">
				<div class="d-block d-md-none" style="text-align: center; margin-bottom: 10pt;">
        	<font style="font-weight: bold; font-size: 14pt;">Consolidado</font>
      	</div>
				<div class="d-none d-md-block" style="margin-bottom: -25pt; margin-left: 60pt; text-align: left;">
        	<font style="font-size: 12pt; font-weight: bold;">Consolidado</font>
      	</div>
			  <table id="tablaPersonal" class="display compact" style="width: 100%;">
					<thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">DNI</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
			        <th class="celdaColor" style="border: 1pt solid white;">E-mail</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
							<th class="celdaColor" style="border: 1pt solid white;">Empresa</th>
							<th class="celdaColor" style="border: 1pt solid white;">T°</th>
			        <th class="celdaColor" style="border: 1pt solid white;">T° AM</th>
			        <th class="celdaColor" style="border: 1pt solid white;">T° PM</th>
							<th class="celdaColor" style="border: 1pt solid white;">Termometro</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaPersonal" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
			<div id="divSintomasPersonalTodosHoy" style="margin-top: 20pt; text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top: 10pt;">
						<button style="width: 100%; font-size: 9pt;" id="sintomasPersonalTodosHoy" class="form-control btn btn-secondary">
							<i class="far fa-file-excel"></i>&nbsp;&nbsp;Sintomas Personal hoy
						</button>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top: 10pt;">
						<button style="width: 100%; font-size: 9pt;" id="sintomasPersonalTodosAyer" class="form-control btn btn-secondary">
							<i class="far fa-file-excel"></i>&nbsp;&nbsp;Sintomas Personal ayer
						</button>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top: 10pt;">
						<button disabled style="width: 100%; font-size: 9pt; display: none;" id="sintomasPersonalTermometro" class="form-control btn btn-secondary">
							<i class="fas fa-thermometer-half"></i>&nbsp;&nbsp;Termómetro entregado
						</button>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top: 10pt;">
						<select style="width: 100%; font-size: 9pt;" id="selectDiaPersonal" class="form-control" title="Selección de día">

						</select>
					</div>
				</div>
		</div>
		<img id="fotoOcultaTerm2" src="" style="display: block; display: none;">
</div>
