<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
	var js = document.createElement('script');
	js.id = 'funciones_js_script';
	js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
	$("#funciones_js_script").remove();
	document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div>
		<div id="seguimiento" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div style="margin-bottom: 5pt; text-align: left;">
      	<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
					<span style="color: gray;" class="fas fa-chart-line">&nbsp;&nbsp;Seguimiento personal</span>
				</font>
      </div>
			<div id="divSeguimientoCuerpo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; text-align: left;">

			</div>
			<div id="divSeguimientoPie" style="margin-top: 20pt; text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		</div>
</div>
