<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
	var js = document.createElement('script');
	js.id = 'funciones_js_script';
	js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
	$("#funciones_js_script").remove();
	document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div>
		<div id="home" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form id="loginSystem" style="display: none; ">
				<div class="form-group">
					<img id="imgLlave" src="view/img/login.png" style="height: 60pt; margin-bottom: 10pt; display:block;
margin:auto;" class="img-fluid">
					<br />
					<label style="color: black; font-size: 16pt; margin-bottom: 2pt;">&nbsp;&nbsp;&nbsp;Inicio de sesión&nbsp;&nbsp;&nbsp;</label>
					<br />
					<input style="width: 100%; margin-bottom: 16pt; margin-top: 16pt;" class="form-control" type="text" name="loginSystem-rut" id="loginSystem-rut" placeholder="Rut" onblur="Rut();">
					<input style="width: 100%; margin-bottom: 16pt;" class="form-control" type="password" name="loginSystem-pass" id="loginSystem-pass" placeholder="Contraseña" >
					<button style="width: 100%;" class="form-control btn btn-secondary" name="loginSystem-submit" id="loginSystem-submit"><span class="fas fa-unlock-alt"></span>&nbsp;&nbsp;Ingresar</button>
					<br/>
					<br/>
					<span id="cerradoInactivo" style="display: none; color: red;">Su sesión ha expirado</span>
				</div>
			</form>
		</div>
</div>
